# 1. Data Understanding

In [1]:
import pandas as pd

# Read the CSV file into a DataFrame, using the first row as column names
dataset = pd.read_csv('/kaggle/input/burmese-name-with-gender/Burmese Name with Gender.csv')

# Display the DataFramedataset
dataset

                Name  Gender
0          ကျင်ဒါမဏီ       1
1       ကျော့ကျော့စံ       1
2       ကျော့ကေခိုင်       1
3     ကျော့ကေခိုင်စု       1
4         ကျော့ကေသရီ       1
...              ...     ...
4326      ဥမ္မာခိုင်       1
4327       ဥမ္မာနွေး       1
4328        ဥသာဖြိုး       0
4329       ဧကရီထွန်း       1
4330   ဧပရယ်ဂျူးဂျူး       1

[4331 rows x 2 columns]

## 2. Data Preprocessing

In [2]:
dataset = dataset.replace({r'\n': ' ', r'\r': ' '}, regex=True)

In [3]:
dataset = dataset.sample(frac=1)
dataset

                 Name  Gender
1843     နှင်းနှင်းဦး       1
3764         ဟိန်းစည်       0
1933     နိုင်ဝင်းအေး       0
652     ခိုင်မူယာလင်း       1
2832         ရတနာချို       1
...               ...     ...
1103         ဆုလဲ့ဖြူ       1
273      ကောင်းနိုင်ခ       0
2485          မြတ်သုခ       0
1850    နှင်းပွင့်ဖြူ       1
328   ခင်ငြိမ်းငြိမ်း       1

[4331 rows x 2 columns]

In [4]:
import re

def segment(text):
    # Use regular expressions to segment the input text
    text = re.sub(r'(?:(?<!္)([က-ဪဿ၊-၏]|[၀-၉]+|[^က-၏]+)(?![ှျ]?[့္်]))', r' \1', text)
    return text

# Apply segmentation to each name in the DataFrame
dataset['Name'] = dataset['Name'].apply(segment)

# Display the DataFrame
dataset

                    Name  Gender
1843      နှင်း နှင်း ဦး       1
3764           ဟိန်း စည်       0
1933      နိုင် ဝင်း အေး       0
652     ခိုင် မူ ယာ လင်း       1
2832         ရ တ နာ ချို       1
...                  ...     ...
1103          ဆု လဲ့ ဖြူ       1
273       ကောင်း နိုင် ခ       0
2485           မြတ် သု ခ       0
1850     နှင်း ပွင့် ဖြူ       1
328    ခင် ငြိမ်း ငြိမ်း       1

[4331 rows x 2 columns]

In [5]:
train_size = int(dataset.shape[0]*0.7)

train= dataset.head(train_size)

test= dataset.tail(dataset.shape[0]-train_size)

In [6]:
train

                   Name  Gender
1843     နှင်း နှင်း ဦး       1
3764          ဟိန်း စည်       0
1933     နိုင် ဝင်း အေး       0
652    ခိုင် မူ ယာ လင်း       1
2832        ရ တ နာ ချို       1
...                 ...     ...
1147      ဇင် ထူး ပိုင်       0
3437          သန္တာ ဇင်       1
2097     ပိုင် သူ ကျော်       0
97     ကျော် မျိုး လွင်       0
3516   သွယ် သွယ် လှိုင်       1

[3031 rows x 2 columns]

In [7]:
test

                    Name  Gender
3255          ဝေ စိုး စံ       0
2816           ယု ယု ဇင်       1
1929      နိုင် လင်း ဦး       0
2924       ရွှေ သ ဇင် ဦး       1
3135           လေး အောင်       0
...                  ...     ...
1103          ဆု လဲ့ ဖြူ       1
273       ကောင်း နိုင် ခ       0
2485           မြတ် သု ခ       0
1850     နှင်း ပွင့် ဖြူ       1
328    ခင် ငြိမ်း ငြိမ်း       1

[1300 rows x 2 columns]

In [8]:
import pickle
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

max_length = 9
vocab_size = 413
trunc_type='post'        #put needed '0's for max length
oov_tok = "<OOV>"        #out of vocab


tokenizer = Tokenizer(num_words = vocab_size, oov_token = oov_tok)
tokenizer.fit_on_texts(train['Name'])

# Save the tokenizer
with open('tokenizer.pkl', 'wb') as f:
    pickle.dump(tokenizer, f)

word_index = tokenizer.word_index

sequences = tokenizer.texts_to_sequences(train['Name'])
padded = pad_sequences(sequences,maxlen=max_length, truncating=trunc_type,padding='post')

In [9]:
padded

array([[ 28,  28,  14, ...,   0,   0,   0],
       [ 37, 109,   0, ...,   0,   0,   0],
       [ 18,   4,  23, ...,   0,   0,   0],
       ...,
       [ 45,  12,   3, ...,   0,   0,   0],
       [  3,  22,  24, ...,   0,   0,   0],
       [110, 110,  38, ...,   0,   0,   0]], dtype=int32)

In [10]:
word_index

{'<OOV>': 1,
 'အောင်': 2,
 'ကျော်': 3,
 'ဝင်း': 4,
 'ထက်': 5,
 'မြတ်': 6,
 'ထွန်း': 7,
 'ဇင်': 8,
 'မင်း': 9,
 'ခင်': 10,
 'လင်း': 11,
 'သူ': 12,
 'ဇော်': 13,
 'ဦး': 14,
 'စိုး': 15,
 'ဝေ': 16,
 'ခိုင်': 17,
 'နိုင်': 18,
 'မိုး': 19,
 'ဖြိုး': 20,
 'အိ': 21,
 'မျိုး': 22,
 'အေး': 23,
 'လွင်': 24,
 'မြင့်': 25,
 'မေ': 26,
 'သီ': 27,
 'နှင်း': 28,
 'ဆု': 29,
 'သက်': 30,
 'ကို': 31,
 'စု': 32,
 'ဦး': 33,
 'ရ': 34,
 'မွန်': 35,
 'ပြည့်': 36,
 'ဟိန်း': 37,
 'လှိုင်': 38,
 'ရွှေ': 39,
 'ဇာ': 40,
 'ရည်': 41,
 'စံ': 42,
 'ဟန်': 43,
 'ဖြူ': 44,
 'ပိုင်': 45,
 'ရဲ': 46,
 'ခန့်': 47,
 'တင်': 48,
 'သ': 49,
 'နွယ်': 50,
 'ကောင်း': 51,
 'ညီ': 52,
 'ဖူး': 53,
 'သိန်း': 54,
 'ငြိမ်း': 55,
 'ထူး': 56,
 'မောင်': 57,
 'မာ': 58,
 'လဲ့': 59,
 'တ': 60,
 'ကေ': 61,
 'နန်း': 62,
 'ယု': 63,
 'သင်း': 64,
 'နီ': 65,
 'ရိ': 66,
 'မြ': 67,
 'နာ': 68,
 'စင်': 69,
 'ကြည်': 70,
 'သော်': 71,
 'ထွေး': 72,
 'မီ': 73,
 'သန်း': 74,
 'နေ': 75,
 'ချမ်း': 76,
 'ဆွေ': 77,
 'ဝါ': 78,
 'တာ': 79,
 'သန့်': 80,
 'သန္တာ': 81,
 'ပ': 82,
 'ရီ': 83,
 'ပြည့်': 84,
 'မြင့်': 85,
 'ချစ်': 86,
 'လှ': 87,
 'သန့်': 88,
 'ယွန်း': 89,
 'နန္ဒာ': 90,
 'သဲ': 91,
 'နိုး': 92,
 'ယ': 93,
 'ချို': 94,
 'ဘုန်း': 95,
 'ယံ': 96,
 'စော': 97,
 'ထွဋ်': 98,
 'သာ': 99,
 'စုံ': 100,
 'ပွင့်': 101,
 'ဇေ': 102,
 'လ': 103,
 'ဝတ်': 104,
 'ထား': 105,
 'စိုင်း': 106,
 'ဆန်း': 107,
 'စန္ဒာ': 108,
 'စည်': 109,
 'သွယ်': 110,
 'သိမ့်': 111,
 'မို့': 112,
 'သဉ္ဇာ': 113,
 'ရွှန်း': 114,
 'စန်း': 115,
 'ချော': 116,
 'ခြည်': 117,
 'လာ': 118,
 'ယဉ်': 119,
 'ယျာ': 120,
 'န': 121,
 'သိင်္ဂီ': 122,
 'ညို': 123,
 'ဌေး': 124,
 'ဝင့်': 125,
 'ဝ': 126,
 'ဇွန်': 127,
 'ခန့်': 128,
 'မော်': 129,
 'နု': 130,
 'လေး': 131,
 'ပိုး': 132,
 'ထိုက်': 133,
 'ဟ': 134,
 'ရန်': 135,
 'ကာ': 136,
 'အိမ်': 137,
 'နည်': 138,
 'ယဥ်': 139,
 'အာ': 140,
 'ဆက်': 141,
 'က': 142,
 'တီ': 143,
 'သစ်': 144,
 'ငုံ': 145,
 'ဒီ': 146,
 'မှူး': 147,
 'ပို': 148,
 'နွေး': 149,
 'ငယ်': 150,
 'ဟေ': 151,
 'ရင့်': 152,
 'ညွန့်': 153,
 'တိုး': 154,
 'စွမ်း': 155,
 'သိမ့်': 156,
 'ကြယ်': 157,
 'ပန်း': 158,
 'ဆောင်း': 159,
 'ခြူး': 160,
 'ဉာဏ်': 161,
 'ဗိုလ်': 162,
 'လတ်': 163,
 'ကြူ': 164,
 'မာန်': 165,
 'ပွင့်': 166,
 'စန္ဒီ': 167,
 'ဝန်း': 168,
 'သွင်': 169,
 'ရှိုင်း': 170,
 'လီ': 171,
 'ချယ်': 172,
 'သဥ္ဇာ': 173,
 'မြေ့': 174,
 'ဇူး': 175,
 'မုံ': 176,
 'နော်': 177,
 'လျာ': 178,
 'ဘို': 179,
 'စိန်': 180,
 'စွာ': 181,
 'မှုံ': 182,
 'ဝင့်': 183,
 'မ': 184,
 'ဂျူး': 185,
 'နောင်': 186,
 'မူ': 187,
 'ရာ': 188,
 'သု': 189,
 'နွဲ့': 190,
 'ကျော့': 191,
 'ခ': 192,
 'လိုင်': 193,
 'နွေ': 194,
 'ရိန်': 195,
 'ဇွဲ': 196,
 'ခွန်': 197,
 'အိမ့်': 198,
 'အေ': 199,
 'စ': 200,
 'ပယ်': 201,
 'ဇော': 202,
 'ခက်': 203,
 'သံ': 204,
 'ဇ': 205,
 'ဝဏ္ဏ': 206,
 'အိမ့်': 207,
 'ထင်': 208,
 'လာဘ်': 209,
 'ရွှ': 210,
 'ဝိုင်း': 211,
 'ဒါ': 212,
 'ညိမ်း': 213,
 'သိမ်း': 214,
 'သွဲ့': 215,
 'ဥက္ကာ': 216,
 'သစ္စာ': 217,
 'ခေါင်': 218,
 'ဗ': 219,
 'ညား': 220,
 'ဂျူ': 221,
 'ငု': 222,
 'ရေည်': 223,
 'ရှိန်': 224,
 'တွယ်': 225,
 'ပါ': 226,
 'ဇေင်': 227,
 'ထော': 228,
 'ဥမ္မာ': 229,
 'မိုရ်': 230,
 'ဖုန်း': 231,
 'သင်္ကြန်': 232,
 'ရှိန်း': 233,
 'ဇူ': 234,
 'အိန္ဒြေ': 235,
 'ပြုံး': 236,
 'ငွေ': 237,
 'လက်': 238,
 'မို': 239,
 'ပန်': 240,
 'သိုက်': 241,
 'ရင်': 242,
 'စီ': 243,
 'နံ့': 244,
 'ဧ': 245,
 'ရိပ်': 246,
 'ယာ': 247,
 'အိန္ဒြာ': 248,
 'တင့်': 249,
 'မျက်': 250,
 'ရှား': 251,
 'ဆို': 252,
 'ရူ': 253,
 'ပြေ': 254,
 'ထည်': 255,
 'ဖီ': 256,
 'နန္ဒ': 257,
 'စိမ့်': 258,
 'ပြာ': 259,
 'နွန်': 260,
 'တေ': 261,
 'သုန်': 262,
 'မဉ္ဇူ': 263,
 'မွှေး': 264,
 'မဥ္ဇူ': 265,
 'ဟံ': 266,
 'သန်': 267,
 'ဒ': 268,
 'ဆူး': 269,
 'ရွက်': 270,
 'ခတ္တာ': 271,
 'အဲ': 272,
 'ထိပ်': 273,
 'ရှင်း': 274,
 'ဆွ': 275,
 'မိုင်': 276,
 'လှိုင်း': 277,
 'ဆင့်': 278,
 'အုပ်': 279,
 'ခေတ်': 280,
 'ရောင်': 281,
 'စဥ်': 282,
 'ကြွယ်': 283,
 'မင်': 284,
 'သောင်း': 285,
 'လျှံ': 286,
 'ဒွေး': 287,
 'လူ': 288,
 'ဖွေး': 289,
 'ယျ': 290,
 'လု': 291,
 'ဗျာ': 292,
 'ပုံ': 293,
 'ဆီ': 294,
 'ဏီ': 295,
 'ဟိဏ်း': 296,
 'ဇံ': 297,
 'ဥ': 298,
 'ထွတ်': 299,
 'နို': 300,
 'အင်': 301,
 'ကြင်း': 302,
 'နှိုင်း': 303,
 'သွန်း': 304,
 'ဖေ': 305,
 'ဂျွန်': 306,
 'နန့်': 307,
 'ငြိမ့်': 308,
 'ပုံ့': 309,
 'တင့်': 310,
 'ဗို': 311,
 'စေး': 312,
 'သင်': 313,
 'ဣန္ဒြေ': 314,
 'ထွဏ်း': 315,
 'ကြည့်': 316,
 'လျှမ်း': 317,
 'ဝီ': 318,
 'ဆင့်': 319,
 'ငြိမ့်': 320,
 'ရွယ်': 321,
 'ကျင်': 322,
 'ရှ': 323,
 'အောင်း': 324,
 'ဖြာ': 325,
 'အုံး': 326,
 'လွှမ်း': 327,
 'ဖိုး': 328,
 'ဆုန်': 329,
 'သျှံ': 330,
 'မူး': 331,
 'သဒ္ဓါ': 332,
 'ပြည်': 333,
 'မြိုင်': 334,
 'စစ်': 335,
 'စမ်း': 336,
 'မုန်': 337,
 'ဿန်': 338,
 'ငြိမ်': 339,
 'ထယ်': 340,
 'သျှိုင်း': 341,
 'စဉ်': 342,
 'ပါယ်': 343,
 'ခင့်': 344,
 'ဥတ္တ': 345,
 'ယော်': 346,
 'ယုန်': 347,
 'နန့်': 348,
 'နှင်': 349,
 'သဒ္ဒါ': 350,
 'ဖော': 351,
 'ခု': 352,
 'လပ်': 353,
 'ဠု': 354,
 'ရှု': 355,
 'မန်း': 356,
 'အဥ္ဇ': 357,
 'ဇဥ်': 358,
 'အယ်': 359,
 'စန္ဒ': 360,
 'ကူး': 361,
 'ကျေး': 362,
 'မြဲ': 363,
 'မိ': 364,
 'ခြယ်': 365,
 'ဖူ': 366,
 'ရွေ': 367,
 'ညာ': 368,
 'ဇီ': 369,
 'ရတ်': 370,
 'ချိန်း': 371,
 'ရက်': 372,
 'ရေ': 373,
 'မန်': 374,
 'ထိန်': 375,
 'ဇန်': 376,
 'ထွာ': 377,
 'မု': 378,
 'လွန်း': 379,
 'အား': 380,
 'စံပ္ပါယ်': 381,
 'ဝန်': 382,
 'ကျောက်': 383,
 'တော်': 384,
 'နှစ်': 385,
 'သွေး': 386,
 'လွန်': 387,
 'သျှန်': 388,
 'သီိ': 389,
 'မီး': 390,
 'မြာ': 391,
 'ဟယ်': 392,
 'ဖန်': 393,
 'တက်': 394,
 'ရယ်': 395,
 'ငြား': 396,
 'ခမ်း': 397,
 'ဆည်း': 398,
 'ဆာ': 399,
 'သုံ': 400,
 'ရို': 401,
 'စန်': 402,
 'ကောင်': 403,
 'တုန်': 404,
 'ဇွာ': 405,
 'ကြော့': 406,
 'ဘ': 407,
 'ပတ္တ': 408,
 'မြား': 409,
 'စို': 410,
 'စိမ့်': 411}

# 3. Modeling

In [11]:
import tensorflow as tf

embedding_dim = 64

model = tf.keras.Sequential([

    tf.keras.layers.Embedding(vocab_size, embedding_dim, input_length=max_length),

    tf.keras.layers.Flatten(),

    tf.keras.layers.Dense(1000, activation='relu'),

    tf.keras.layers.Dense(500, activation='relu'),

    tf.keras.layers.Dense(1, activation='sigmoid')

])

model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

/opt/conda/lib/python3.10/site-packages/keras/src/layers/core/embedding.py:90: UserWarning: Argument `input_length` is deprecated. Just remove it.
  warnings.warn(

# 4. Model Training

In [12]:
import numpy as np



num_epochs = 20

history = model.fit(padded, np.array(train['Gender']), epochs=num_epochs,verbose = 2)

Epoch 1/20

WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1730785754.295587      67 service.cc:145] XLA service 0x7d24ac008370 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
I0000 00:00:1730785754.295643      67 service.cc:153]   StreamExecutor device (0): Tesla T4, Compute Capability 7.5
I0000 00:00:1730785754.295648      67 service.cc:153]   StreamExecutor device (1): Tesla T4, Compute Capability 7.5
I0000 00:00:1730785755.497583      67 device_compiler.h:188] Compiled cluster using XLA!  This line is logged at most once for the lifetime of the process.

95/95 - 4s - 39ms/step - accuracy: 0.8542 - loss: 0.3135
Epoch 2/20
95/95 - 0s - 2ms/step - accuracy: 0.9578 - loss: 0.1099
Epoch 3/20
95/95 - 0s - 2ms/step - accuracy: 0.9733 - loss: 0.0747
Epoch 4/20
95/95 - 0s - 2ms/step - accuracy: 0.9802 - loss: 0.0591
Epoch 5/20
95/95 - 0s - 2ms/step - accuracy: 0.9848 - loss: 0.0416
Epoch 6/20
95/95 - 0s - 2ms/step - accuracy: 0.9878 - loss: 0.0326
Epoch 7/20
95/95 - 0s - 2ms/step - accuracy: 0.9898 - loss: 0.0288
Epoch 8/20
95/95 - 0s - 2ms/step - accuracy: 0.9904 - loss: 0.0223
Epoch 9/20
95/95 - 0s - 2ms/step - accuracy: 0.9924 - loss: 0.0190
Epoch 10/20
95/95 - 0s - 2ms/step - accuracy: 0.9957 - loss: 0.0134
Epoch 11/20
95/95 - 0s - 2ms/step - accuracy: 0.9967 - loss: 0.0094
Epoch 12/20
95/95 - 0s - 2ms/step - accuracy: 0.9984 - loss: 0.0038
Epoch 13/20
95/95 - 0s - 2ms/step - accuracy: 0.9980 - loss: 0.0084
Epoch 14/20
95/95 - 0s - 2ms/step - accuracy: 0.9997 - loss: 0.0017
Epoch 15/20
95/95 - 0s - 2ms/step - accuracy: 0.9970 - loss: 0.0114
Epoch 16/20
95/95 - 0s - 2ms/step - accuracy: 0.9984 - loss: 0.0046
Epoch 17/20
95/95 - 0s - 2ms/step - accuracy: 1.0000 - loss: 8.5729e-04
Epoch 18/20
95/95 - 0s - 2ms/step - accuracy: 1.0000 - loss: 3.2102e-04
Epoch 19/20
95/95 - 0s - 2ms/step - accuracy: 1.0000 - loss: 1.4894e-04
Epoch 20/20
95/95 - 0s - 2ms/step - accuracy: 1.0000 - loss: 8.5933e-05

# 5. Evaluation

In [13]:
testing_sequences = tokenizer.texts_to_sequences(test['Name'])

testing_padded = pad_sequences(testing_sequences,maxlen=max_length, truncating=trunc_type,padding='post')

In [14]:
predicted_results = model.predict(testing_padded)

y_pred = []

threshold = 0.5

for  i in predicted_results:

  current_val = i[0]

  if (current_val>=threshold):

    y_pred.append(1)

  else:

    y_pred.append(0)

41/41 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step

In [15]:
#Confusion Matrix

from sklearn.metrics import confusion_matrix

confusion_matrix = confusion_matrix(test['Gender'],y_pred)

print('confusion_matrix')

print(confusion_matrix)

confusion_matrix
[[528  31]
 [ 36 705]]

In [16]:
# Evaluation Metrics





from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score

ans = y_pred

print('Accuracy Score',accuracy_score(test['Gender'],ans)*100,'%')

print('Precision Macro Score',precision_score(test['Gender'],ans,average = 'macro')*100,'%')

print('Recall_Score',recall_score(test['Gender'],ans, average = 'macro')*100,'%')

print('F1_Score',f1_score(test['Gender'],ans, average = 'macro')*100,'%')

Accuracy Score 94.84615384615384 %
Precision Macro Score 94.70253237742831 %
Recall_Score 94.79804161566707 %
F1_Score 94.74880793116898 %

# 6. Saving

In [17]:
model.save('name_gender.keras')

# 7. Integration

In [18]:
inputs = ['ယွန်းထက်ဝင်း']

inputs = [re.sub(r'(?:(?<!္)([က-ဪဿ၊-၏]|[၀-၉]+|[^က-၏]+)(?![ှျ]?[့္်]))', r' \1', i) for i in inputs]
print(inputs)

testing_sequences = tokenizer.texts_to_sequences(inputs)
testing_padded = pad_sequences(testing_sequences,maxlen=9, truncating=trunc_type,padding='post')
gender = tf.keras.models.load_model('/kaggle/working/name_gender.keras')

ans = gender.predict(testing_padded)

# Apply threshold
binary_result = (ans >= 0.5).astype(int)
if binary_result == 0:
    print('Male')
else:
    print('Female')

[' ယွန်း ထက် ဝင်း']
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 215ms/step
Female